@model IEnumerable<SimpleApp.Models.Product>
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Simple App</title>
</head>
<body>
<ul>
    @foreach (var p in Model)
    {
        <li>Name: @p.Name, Price: @p.Price</li>
    }
</ul>
</body>
</html>